In [2]:
# Mount the Google Drive
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [6]:
# Importing the required python libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Reading the dataset
data = pd.read_excel("/content/drive/MyDrive/Shalom analysis/bully_data.xlsx")
data.head(5)

,SA (Strongly Agree) = 4,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,A (Agree) = 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,D (Disagree) = 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SD (Strongly Disagree) = 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
import pandas as pd

# Load the data into a DataFrame
data = {
    "Respondent ID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
    "Gender": ["F", "M", "F", "F", "F", "F", "F", "F", "M", "M", "M", "M", "M", "F", "F", "M", "M", "F", "M", "M", "F", "M", "F", "M", "F", "F", "F", "M", "F", "F"],
    "Teaching Status": ["Class Teacher", "Subject Teacher", "Class Teacher", "Class Teacher", "Class Teacher", "Class Teacher", "Subject Teacher", "Class Teacher", "Subject Teacher", "Subject Teacher", "Class Teacher", "Class Teacher", "Subject Teacher", "Subject Teacher", "Subject Teacher", "Class Teacher", "Subject Teacher", "Class Teacher", "Subject Teacher", "Subject Teacher", "Class Teacher", "Class Teacher", "Subject Teacher", "Subject Teacher", "Class Teacher", "Class Teacher", "Class Teacher", "Subject Teacher", "Subject Teacher", "Class Teacher"],
    "Q1": [2, 3, 1, 3, 3, 2, 3, 4, 4, 3, 3, 4, 4, 4, 4, 3, 4, 3, 4, 4, 1, 3, 4, 3, 3, 3, 3, 3, 3, 3],
    "Q2": [4, 3, 3, 3, 4, 3, 3, 4, 4, 3, 3, 4, 4, 4, 4, 3, 4, 3, 4, 4, 4, 4, 3, 4, 4, 4, 4, 3, 3, 3],
    "Q3": [4, 4, 4, 3, 4, 4, 4, 4, 3, 3, 3, 2, 2, 2, 4, 4, 4, 3, 4, 4, 3, 4, 3, 4, 3, 3, 3, 3, 4, 4],
    "Q4": [3, 3, 4, 3, 4, 4, 2, 3, 3, 1, 2, 4, 4, 3, 4, 4, 3, 4, 4, 3, 4, 4, 3, 4, 3, 3, 3, 4, 4, 4],
    "Q5": [1, 2, 4, 2, 2, 2, 3, 3, 3, 2, 2, 2, 2, 1, 1, 2, 1, 2, 1, 2, 4, 2, 1, 1, 2, 3, 1, 1, 2, 2],
    "Q6": [3, 4, 4, 4, 1, 3, 3, 2, 1, 2, 2, 4, 4, 3, 3, 3, 4, 3, 4, 4, 1, 1, 2, 3, 4, 1, 3, 3, 4, 4],
    "Q7": [2, 3, 4, 3, 4, 3, 1, 4, 4, 3, 3, 2, 2, 2, 4, 4, 4, 3, 1, 1, 4, 4, 3, 3, 4, 3, 4, 3, 2, 2],
    "Q8": [4, 4, 4, 4, 1, 4, 3, 4, 3, 3, 3, 4, 4, 3, 4, 4, 3, 4, 4, 3, 3, 4, 3, 4, 3, 2, 3, 3, 4, 4],
    "Q9": [1, 1, 1, 1, 3, 3, 2, 3, 1, 2, 2, 2, 1, 2, 1, 1, 1, 2, 1, 1, 4, 1, 2, 3, 4, 4, 3, 1, 2, 2],
    "Q10": [2, 1, 3, 1, 3, 1, 1, 4, 3, 4, 3, 4, 4, 1, 3, 3, 2, 1, 4, 1, 2, 2, 1, 1, 2, 3, 2, 3, 2, 2],
    "Q11": [3, 4, 4, 4, 4, 4, 3, 4, 4, 3, 3, 3, 3, 3, 3, 3, 1, 2, 4, 4, 1, 4, 3, 3, 4, 2, 4, 4, 4, 4],
    "Q12": [3, 4, 4, 4, 3, 4, 4, 4, 4, 4, 4, 2, 2, 2, 4, 4, 1, 2, 4, 4, 4, 3, 4, 3, 4, 4, 4, 4, 4, 4],
    "Q13": [4, 4, 4, 4, 3, 4, 4, 4, 3, 4, 4, 4, 4, 4, 4, 4, 3, 4, 4, 4, 4, 1, 4, 3, 4, 3, 3, 3, 4, 4],
    "Q14": [4, 4, 3, 4, 2, 4, 3, 3, 3, 4, 3, 2, 2, 2, 4, 4, 4, 3, 4, 4, 2, 4, 2, 3, 4, 3, 3, 3, 4, 4],
    "Q15": [3, 3, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 4, 4, 4, 4, 4, 3, 4, 3, 3, 3, 3, 4, 4],
    "Q16": [1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 4, 1, 2, 2, 1, 3, 1, 2, 1, 1],
    "Q17": [3, 4, 1, 4, 4, 4, 4, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 4, 4, 1, 4, 3, 4, 3, 1, 3, 3, 4, 4],
    "Q18": [3, 4, 4, 4, 4, 4, 3, 4, 1, 3, 3, 2, 3, 3, 3, 3, 4, 4, 4, 4, 3, 4, 3, 4, 3, 3, 3, 4, 4, 4]
}

df = pd.Data

AttributeError: module 'pandas' has no attribute 'Data'